.modal,
.overlay {
  @apply fixed w-screen h-screen top-0 left-0 right-0 bottom-0;
}

.overlay {
  @apply bg-overlay/[.50] flex items-center justify-center;
}

.modal-content {
  @apply relative max-w-[500px] min-w-[300px] rounded-md shadow-xl;
  /* transform: translate(-50%, -50%); */
  line-height: 1.4;
  background-color: #f1f1f1;
  padding: 14px 20px;
}

.modal-btn {
  @apply absolute right-1 top-1;
}
